exo1.1/hello/hello
exo1.2/conversions/conversions
exo1.3/recursivite/factorielle/factorielle
exo1.3/recursivite/fibonacci/fibonacci
exo1.4/primalite/primalite
exo1.5/amis/amis
exo1.6/fraction/fraction
